<header>
  <!--Début navbar-->
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand"><img class="logo" routerLinkActive="true" routerLink="home" src="../../../assets/images/Logo_desktop.svg" alt="Logo du Garage Parrot"></a>
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mb-0 h3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="active">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="occasion" routerLinkActive="active">Nos occasions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
