<mat-toolbar color="warn" class="header">
  <mat-toolbar-row>
    <span>
      <a class="navbar-brand">
        <img class="logo" routerLinkActive="true" routerLink="home" src="../../../assets/images/Logo_desktop.svg" alt="Logo du Garage Parrot">
      </a>
    </span>
    <span class="spacer"></span>
    <button mat-button *ngIf="isHandset$ | async" (click)="changeBurgerMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <div *ngIf="(isHandset$ | async) === false">
      <button mat-button routerLink="home" routerLinkActive="active">Accueil</button>
      <button mat-button routerLink="occasion" routerLinkActive="active">Nos occasions</button>
      <button mat-button routerLink="contact" routerLinkActive="active">Contact</button>
      <button mat-button routerLink="employe" *ngIf="isEmploye()" routerLinkActive="active">Dashboard</button>
      <button mat-button routerLink="admin" *ngIf="isAdmin()" routerLinkActive="active">Dashboard</button>
      <button mat-button routerLink="home" (click)="deconnexion()" *ngIf="isConnected()" routerLinkActive="active">Deconnexion</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div *ngIf="openBurgerMenu" class="burger-menu">
    <mat-nav-list>
      <a mat-list-item routerLink="home" (click)="changeBurgerMenu()" routerLinkActive="active">Accueil</a>
      <a mat-list-item routerLink="occasion" (click)="changeBurgerMenu()" routerLinkActive="active">Nos occasions</a>
      <a mat-list-item routerLink="contact" (click)="changeBurgerMenu()" routerLinkActive="active">Contact</a>
      <a mat-list-item routerLink="employe" (click)="changeBurgerMenu()" *ngIf="isEmploye()" routerLinkActive="active">Dashboard</a>
      <a mat-list-item routerLink="admin" (click)="changeBurgerMenu()" *ngIf="isAdmin()" routerLinkActive="active">Dashboard</a>
      <a mat-list-item routerLink="home" (click)="deconnexion()" *ngIf="isConnected()" routerLinkActive="active">Deconnexion</a>
    </mat-nav-list>
</div>
