<div class="container-fluid poppin-formulaire">
<h1>Bienvenue dans l'espace employé !</h1>

  <mat-tab-group>
    <mat-tab label="Gerer les voitures">

  <form class="formulaire" [formGroup]="voitureForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Type de Voiture</mat-label>
      <mat-select formControlName="energie">
        <mat-option *ngFor="let energie of energies" [value]="energie">
          {{ energie }}
        </mat-option>
      </mat-select></mat-form-field>

    <mat-form-field>
      <mat-label>Année</mat-label>
      <input matInput type="number" formControlName="annee_circulation" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prix</mat-label>
      <input matInput type="number" formControlName="prix" required>
    </mat-form-field>

    <!--<mat-form-field>
      <mat-label>Options</mat-label>
      <input matInput type="text" formControlName="options" required>
    </mat-form-field>-->

    <mat-form-field>
      <mat-label>Kilométrage</mat-label>
      <input matInput type="number" formControlName="kilometre" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>denomination</mat-label>
      <input matInput type="text" formControlName="description" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>description</mat-label>
      <textarea matInput required formControlName="denomination"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!voitureForm.valid">Ajouter la voiture</button>
  </form>
    </mat-tab>
    <mat-tab label="Gerer les avis">
      <table mat-table [dataSource]="(lesAvis | slice: low : highValue)" class="mat-elevation-z8">

        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef>nom</th>
          <td mat-cell *matCellDef="let element">{{element.nom}}</td>
        </ng-container>

        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>note</th>
          <td mat-cell *matCellDef="let element">{{element.note}}</td>
        </ng-container>
        <ng-container matColumnDef="commentaire">
          <th mat-header-cell *matHeaderCellDef>commentaire</th>
          <td mat-cell *matCellDef="let element">{{element.commentaire}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>action</th>
          <td mat-cell *matCellDef="let element">
            <a *ngIf="checkIfAvisIsSubmitted(element)" [matTooltip]="validation"><mat-icon>material-symbols-outlined</mat-icon></a>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>
