footer{
  background: #595959;
  margin-top: 5em;
}

.footer-content{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.tableau-footer{
  display: flex;
  width: 25em;
  height: 18em;
  margin-top: 2em;
  line-height: 1em;
}

.copyright{
  text-align: center;
  margin-top: 1em;
  color: white;
}


