<h1 mat-dialog-title>Toutes les informations sur la {{voiture.denomination}}</h1>
<div mat-dialog-content>
  <p>Nous vous proposons, la voiture {{voiture.denomination}}</p>
  <!-- options -->

  <p>{{voiture.description}}</p>

  <ng-container>
  <div *ngIf="voiture.options.length == 0">
    <p>Elle ne dispose pas d'options.</p>
  </div>

  <div *ngIf="voiture.options.length > 0">
    <p>Elle dispose des options suivantes : </p>
  <ul>
    <li class="option" *ngFor="let option of voiture.options">
      <p>{{option.nom}}</p>
    </li>
  </ul>
</div>
  </ng-container>


</div>

<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onContact()">Contact</button>
  <button mat-raised-button (click)="onNoClick()">Fermer</button>
</div>
