<div class="container-fluid poppin-formulaire">
  <h1>{{getTitle()}}</h1>
  <form class="formulaire" [formGroup]="voitureForm" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>Type de Voiture</mat-label>
      <mat-select formControlName="energie">
        <mat-option *ngFor="let energie of energies" [value]="energie">
          {{ energie }}
        </mat-option>
      </mat-select></mat-form-field>

    <mat-form-field>
      <mat-label>Année</mat-label>
      <input matInput type="number" formControlName="annee_circulation" [max]="getmaxYear()" [min]="getminYear()" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prix</mat-label>
      <input matInput type="number" formControlName="prix" required>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Kilométrage</mat-label>
      <input matInput type="number" formControlName="kilometre" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dénomination</mat-label>
      <input matInput type="text" formControlName="denomination" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput required formControlName="description"></textarea>
    </mat-form-field>

    <form [formGroup]="formGroup">
      <h3>Liste des options</h3>
      <div *ngFor="let option of availableOptions">
        <mat-checkbox
          [checked]="checkIfOptionAreAffected(option)"
          (change)="updateSelectedOptions(option, $event)"
        >
          {{ option }}
        </mat-checkbox>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Ajouter une option" formControlName="options" />
        </mat-form-field>
        <button mat-button (click)="addOption()">Ajouter</button>
      </div>
    </form>
    <div class="action">
    <button mat-raised-button color="warn" type="submit" [disabled]="!voitureForm.valid">{{getSubmitButton()}}</button>
    <button mat-raised-button type="reset" (click)="closePopin()">Annuler</button>
    </div>
  </form>
</div>
